@import "tailwindcss";

@theme {
  --font-display: 'Coolvetica', sans-serif;
  --font-body: 'Inter', sans-serif;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-zinc-950 text-zinc-100 font-sans antialiased selection:bg-indigo-500/30;
  font-family: 'Coolvetica', sans-serif;
}

/* Custom Scrollbar for that premium feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full hover:bg-zinc-700 transition-colors;
}
